# Configuration file to control (pytest) coverage
[run]
# Run branch coverage, too
branch = True

[paths]
source =
    src/setfit

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

    # Ignore TYPE_CHECKING code
    if TYPE_CHECKING:

[html]
directory = coverage_report_html
title = SetFit coverage report