torch==1.12.0+cu113
datasets==2.0.0
transformers==4.15.0
pytorch-lightning==1.5.8
torchmetrics==0.6.2
psutil==5.9.0
deepspeed==0.5.10
sentencepiece==0.1.96
scipy
ipdb
evaluate==0.1.2
sklearn
git+https://github.com/SetFit/promptsource.git