exp_out
exp_out/
cur_exp_dir
env/
results/
wandb/
lib/
output/
adapet_models
adapet_models/
data
data/
pretrained_models
pretrained_models/
.idea/
eche_
runs/
*.pyc
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
!src/data
env.yaml
pet.yml
results/
results
venv
venv/
output_slurm
output_slurm/
slurm_adapetsetfit.sh
seed_ouput
seed_ouput/