name: Upload PR Documentation

on:
  workflow_run:
    workflows: ["Build PR Documentation"]
    types:
      - completed

jobs:
  build:
    uses: huggingface/doc-builder/.github/workflows/upload_pr_documentation.yml@main
    with:
      package_name: setfit
    secrets:
      hf_token: ${{ secrets.HF_DOC_BUILD_PUSH }}
      comment_bot_token: ${{ secrets.COMMENT_BOT_TOKEN }}
      # comment_bot_app_id: ${{ secrets.COMMENT_BOT_APP_ID }}
      # comment_bot_secret_pem: ${{ secrets.COMMENT_BOT_SECRET_PEM }}
      
